body {
    color: #F0CD00;
    background-color: #53548A;
}

.stTextInput>div>div>input {
    color: #F0CD00;
    font-size: 500px;
}
.markdown-text-container.stMarkdown{
    font-size: 500px;

}
div.row-widget.stRadio > div {
    color: #F0CD00;
}
div.row-widget.stRadio > div[role="radiogroup"] > label[data-baseweb="radio"] > div:first-child {
    color: #F0CD00;
    background-color: #F0CD00;
}